<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>SecondProgram</display-name>
	<servlet>
		<description>
		</description>
		<display-name>ContextsDemo</display-name>
		<servlet-name>ContextsDemo</servlet-name>
		<servlet-class>servelets.ContextsDemo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContextsDemo</servlet-name>
		<url-pattern>/ContextsDemo</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>driver</param-name>
		<param-value>com.mysql.cj.jdbc.Drive</param-value>
	</context-param>


	<context-param>
		<context-param>user</context-param>
		<param-name>user</param-name>
		<param-value>root</param-value>
	</context-param>


	<context-param>
		<param-name>password</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>url</param-name>
		<param-value>jdbc:mysql://localhost:3306/records</param-value>
	</context-param>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
